.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  height: 62px;
}

.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 62px;
  padding: 10px;
}
