/**
 * Building on the RNWeb reset:
 * https://github.com/necolas/react-native-web/blob/master/packages/react-native-web/src/exports/StyleSheet/initialRules.js
 */
html,
body,
#root {
  width: 100%;
  /* To smooth any scrolling behavior */
  -webkit-overflow-scrolling: touch;
  margin: 0px;
  padding: 0px;
  /* Custom rules */
  max-width: 600px;
  margin: 0 auto;
  font-family: Rajdhani;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  /* Prevent text size change on orientation change https://gist.github.com/tfausak/2222823#file-ios-8-web-app-html-L138 */
  -webkit-text-size-adjust: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.03);
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  height: 78px;
}

.App {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 78px;
  padding: 10px;
  background-color: white;
  border-left: 1px solid rgb(226, 219, 232);
  border-right: 1px solid rgb(226, 219, 232);
}
