.env.dev
.env.kovan
.env.kovan2
.env.rinkeby
.env.mainnet
.env.mainnet_fork

/.idea/
# Local Netlify folder
/.netlify/
/node_modules/
/artifacts/**/*.json
!/artifacts/contracts/RenPool.sol/RenPool.json
!/artifacts/@renproject/gateway-sol/contracts/Gateway/interfaces/IERC20Standard.sol/IERC20Standard.json
!/artifacts/interfaces/IDarknodeRegistry.sol/IDarknodeRegistry.json
/cache/
/coverage/
/.env
/coverage.json
