.idea/

__pycache__
.history
.hypothesis/
client/src/artifacts
reports/
venv
.env
.env.dev
.env.kovan
.env.kovan2
.env.rinkeby
.env.mainnet
.env.mainnet_fork
node_modules/
package-lock.json
package.json

# Local Netlify folder
.netlify